div(layaout="row")
  div(flex)
    p Iam the fitsr shit {{some}}
  div(flex)
    p(ng-if="some === 1") I'm 1
div(layout="row")
  div(flex)
    p Iam the fitsr shit {{some}}
  div(flex)
    p(ng-if="some === 1") I'm 1
  
